{% extends "admin/change_form.html" %}

{% load i18n admin_modify adminmedia pagemanager_admin_tags %}
{% load url from future %}

{% load_obj %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/change.js"></script>
    <script type="text/javascript">{% lookup_permissions page user %}
        var permission_settings = {
            'is_published': {% if page.is_published %}true{% else %}false{% endif %},
            'is_visible': {% if page.is_visible %}true{% else %}false{% endif %},
            'change_status': {% if change_status %}true{% else %}false{% endif %},
            'change_visibility': {% if change_visibility %}true{% else %}false{% endif %},
            'modify_published_pages': {% if modify_published_objects %}true{% else %}false{% endif %},
        }
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/admin-permissions.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slug.css" />
{% endblock %}

{% block content %}

    <div id="content-main">

        {# Object Tools #}
        {% block object-tools %}
            {% if change %}
                {% if not is_popup %}
                    <ul class="object-tools">
                        {% block object-tools-items %}
                            <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                        {% endblock %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endblock %}

        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
            {% csrf_token %}
            <div>
                {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                {% if save_on_top %}{% submit_row %}{% endif %}

                {% if errors %}
                    <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    <div class="fieldsets clearfix">
                        {% for fieldset in adminform %}
                            {% include "pagemanager/admin/page_fieldsets.html" %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% submit_row %}

                {% prepopulated_fields_js %}

            </div>

        </form>

    </div>

{% endblock %}