{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia pagemanager_admin_tags %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jui-sortable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/change.js"></script>
    <script type="text/javascript">
        (function($){
            $(function(){
                $('.publish, .attributes').css('top', -1 * $('.main').outerHeight(true));
                var movePageFields = -1 * ($('.page').outerHeight() - $('.main').outerHeight());
                $('.page-fields').css({
                    'top': movePageFields,
                    'margin-bottom': movePageFields
                });
            });
        })(django.jQuery);
        {% for page in original.page.all %}
        {% lookup_permissions page user %}
        var permission_settings = {
            'is_published': {% if page.is_published %}true{% else %}false{% endif %},
            'is_visible': {% if page.is_visible %}true{% else %}false{% endif %},
            'change_status': {% if change_status %}true{% else %}false{% endif %},
            'change_visibility': {% if change_visibility %}true{% else %}false{% endif %},
            'modify_published_pages': {% if modify_published_objects %}true{% else %}false{% endif %},
        }
        {% endfor %}
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/admin-permissions.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pagelayout.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slug.css" />
    <style>
        .module{
          clear: both;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% if not is_popup %}
        {% include "pagemanager/admin/breadcrumb.html" with page=page %}
    {% endif %}
{% endblock %}

{% block content_title %}{% endblock %}


{% block content %}

    <div id="content-main">

        {# Object Tools #}
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
            {% with page=original.page.all.0 %}
            <ul class="object-tools">
                <li><a href="{{ page.get_absolute_url }}" title="{%trans "View on site."%}">{% trans "View On Site" %}</a></li>
                <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                {% if page.copy_of%}
                <li><a href="{% url "admin:draft_merge" page.pk %}" title="{%trans "Merge this copy over top of the original."%}">{% trans "Merge Copy" %}</a></li>
                <li><a href="../{{page.copy_of.page_layout.pk }}/" title="{%trans "Edit the original."%}">{% trans "Edit Original" %}</a></li>
                {% else %}
                    {% if page.is_published %}
                        {% with draft_copy=page.get_draft_copy %}
                        {% if draft_copy %}
                        <li><a href="../{{draft_copy.page_layout.pk}}/" title="{%trans "Edit draft copy."%}">{% trans "Edit Draft Copy" %}</a></li>
                        {% else %}
                        <li><a href="{% url "admin:draft_copy" page.pk %}" title="{%trans "Create an unpublished copy of this item."%}">{% trans "Create Draft Copy" %}</a></li>
                        {% endif %}{% endwith %}
                    {% endif %}
                {% endif %}
                {% if has_absolute_url %}
                    {%if page.is_published%}
                <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View On Site" %}</a></li>
                    {%else%}
                <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "Preview On Site" %}</a></li>
                    {%endif%}
                {% endif%}
            </ul>{% endwith %}
            {% endif %}{% endif %}
        {% endblock %}


        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
            {% csrf_token %}
            {% block form_top %}{% endblock %}

            <div>

                {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                {% if save_on_top %}{% submit_row %}{% endif %}

                {% if errors %}
                    <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}

                    <div class="page">
                        {% for inline_admin_formset in inline_admin_formsets %}
                            {% if inline_admin_formset.opts.page_inline %}
                                {% include inline_admin_formset.opts.template %}
                            {% endif %}
                        {% endfor %}
                        <br class="clear" />
                    </div>

                    <div class="page-fields main">
                        {% for fieldset in adminform %}
                            {% include "admin/includes/fieldset.html" %}
                        {% endfor %}
                        {% for inline_admin_formset in inline_admin_formsets %}
                            {% if not inline_admin_formset.opts.page_inline %}
                                {% include inline_admin_formset.opts.template %}
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endblock %}

                {% submit_row %}

            </div>

        </form>

    </div>

{% endblock %}